.mobilePopup {
  z-index: 2;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  transform: translate(-0.2%, 0%) translate(0px, 0px) !important;
  max-width: 100% !important;
}

@media (max-width: 600px) {
  .mapboxgl-popup-tip {
    visibility: hidden;
  }
}

.selectedPin {
  width: 500px;
}

@media (max-width: 600px) {
  .selectedPin {
    width: 97.8vw;
    max-width: 100vw;
    max-height: 90vh;
  }
}

.selectedPin > label {
  font-weight: bold;
  font-size: 16px;
}

.pinImageContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2.5px;
}

.pinImageThumbnailContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.pinImage0 {
  object-fit: cover;
}

@media (max-width: 600px) {
  .pinImage0 {
    width: 100% !important;
  }
}

.pinImage0:hover {
  cursor: pointer;
}

.pinImage1 {
  object-fit: cover;
  height: 100% !important;
  object-position: right;
}

.pinImage1:hover {
  cursor: pointer;
}

.pinImage2 {
  object-fit: cover;
  height: 100% !important;
}

.pinImage2:hover {
  cursor: pointer;
}

.pinImage3 {
  object-fit: cover;
}

.pinImage3:hover {
  cursor: pointer;
}

.place {
  font-size: 22px;
  margin: 2.5px 0 10px 0px;
  padding: 5px 5px 5px 10px;
  background-color: #a06cd5;
  color: white;
}

.topRight {
  position: absolute;
  right: 10px;
}

.username {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  float: right;
  margin-top: -20px;
  margin-right: 5px;
}

.stars {
  position: absolute;
  right: 15px;
  color: #a06cd5;
  margin-top: 2px;
  font-size: 22px;
  margin-right: 10px;
}

.star {
  color: #a06cd5;
  margin: 2px;
  font-size: 22px;
}

.date {
  font-size: 10px;
}

.reviewTitle {
  margin-top: 2px;
  margin-bottom: -5px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}

.reviewDesc > h4 {
  margin-bottom: 50px;
}

.reviewDesc > p {
  font-size: 12px;
  padding-bottom: 25px;
}

.reviewText {
  margin-top: 5px;
  font-size: 12px;
  padding-bottom: 24px;
}

.RvBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-top: -12px;
}

.RvBtnContainer > button {
  margin: 0 !important;
}
