ReactMapGL {
  z-index: 1;
}

.mapContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.desc {
  font-size: 12px;
}

.star {
  color: gold;
  filter: drop-shadow(0 0 0.5px black);
  margin: 0px 2px 0px 2px;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 10px;
  align-self: flex-end;
  margin-right: 4vw;
}

.btnPrimary {
  border: none;
  display: block;
  margin: 5px auto;
  background-color: #a06cd5;
  color: white;
  font-size: 11px;
  border-radius: 5px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.4s ease-in-out;
}

.btnPrimary:hover {
  transform: scale(1.05);
  background-color: #6247aa;
}

form {
  pointer-events: auto;
}
