ReactMapGL {
  z-index: 1;
}

.mapContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: #6247aa;
  font-size: 13px;
  border-bottom: 1.5px solid #6247aa;
  margin: 3px 0;
  font-weight: bold;
}

.desc {
  font-size: 12px;
}

.star {
  color: gold;
  filter: drop-shadow(0 0 0.5px black);
  margin: 0px 2px 0px 2px;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 10px;
  align-self: flex-end;
  margin-right: 4vw;
}

textarea {
  resize: none;
  height: 400px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: lightgray;
}

input:focus,
textarea:focus {
  border: 3px solid #d5bbe6;
}

/* .submitButton {
  border: none;
  display: block;
  margin: 0 auto;
  background-color: #a06cd5;
  color: white;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
  cursor: pointer;
} */

.btnPrimary {
  border: none;
  display: block;
  margin: 5px auto;
  background-color: #a06cd5;
  color: white;
  font-size: 11px;
  border-radius: 5px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.4s ease-in-out;
}

.btnPrimary:hover {
  transform: scale(1.05);
  background-color: #6247aa;
}

form {
  pointer-events: auto;
}
