ReactMapGL {
  z-index: 1;
}

.mapContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.btnPrimary {
  border: none;
  display: block;
  margin: 5px auto;
  background-color: #a06cd5;
  color: white;
  font-size: 11px;
  border-radius: 5px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.4s ease-in-out;
}

.swal2-actions > button {
  border: none !important;
  margin: 5px 10px auto 10px !important;
  background-color: #a06cd5 !important;
  color: white !important;
  font-size: 11px !important;
  border-radius: 5px !important;
  padding: 8px !important;
  width: 100px !important;
  cursor: pointer !important;
  pointer-events: auto !important;
  transition: all 0.4s ease-in-out !important;
}

.btnPrimary:hover {
  transform: scale(1.05);
  background-color: #6247aa;
}

form {
  pointer-events: auto;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.menuTopBar {
  z-index: 1;
  position: absolute;
  border: 1px dotted white;
  height: 20px;
  top: 0px;
  left: 0;
  background-color: #a06cd5;
  color: white;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  width: 99.6%;
  text-align: center;
  font-size: 8px;
  padding: 5px 0 5px 0;
}

.menuTopBar > p {
  font-size: 12px;
}

.swal2-popup {
  border: 1px dotted #a06cd5 !important;
}

.val > p {
  font-size: 12px !important;
  color: red;
  z-index: 99999;
  width: 100%;
}

.grecaptcha-badge {
  visibility: hidden;
}

.mapboxgl-popup-close-button {
  opacity: 0;
}

.adminButton {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  color: white;
  background-color: #a06cd5;
  border-radius: 100%;
  padding: 8px;
  top: 10px;
  right: 10px;
}
